<div class="row">
  <% flash.each do |type, msg| %>
    <div class="alert alert-block alert-<%= type %>">
      <% msg = [msg] if msg.is_a? String%>
      <% msg.each do |m| %>
        <p><%= m %></p>
      <% end %>
    </div>
  <% end %>
</div>
